### 영화 평점 데이터 수집
- 네이버 영화 평점 페이지에서 영화명과 평점을 수집
- 날짜별로 평점 페이지를 접근해서 영화명과 평점 수집
- 페이지를 이동하면서 수집하는 방법 학습

In [68]:
import requests as req
import pandas as pd  # csv 저장할때 필요하다고
from bs4 import BeautifulSoup as bs

h = {
"user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36"

}

In [69]:
url = "https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date=20230222"

res = req.get(url,headers = h )

html = bs(res.text, 'lxml')

In [82]:
movieTitle = html.select('div.tit5')   #or div.tit5 > a /.tit5 

movieScore = html.select('td.point')  #or .point 도 가능
len(movieTitle)  # --> 리스트의 길이 알아보기
len(movieScore)  # --> 리스트의 길이 알아보기

43

In [83]:
titleList = []
scoreList = []
for i in range(len(movieTitle)) : 
    titleList.append(movieTitle[i].text)
    scoreList.append(scoreList[i].text)

IndexError: list index out of range

In [71]:
# 방법1.
# titleList = []
# scoreList = []
# for i in range(len(movieTitle)) : 
#     titleList.append(movieTitle[i].text)
#     scoreList.append(scoreList[i].text)

# 방법2.
titleList = []

for i in movieTitle :
    titleList.append(i.text.strip())
titleList

['탑건: 매버릭',
 '다음 소희',
 '더 퍼스트 슬램덩크',
 '올빼미',
 '극장판 주술회전 0',
 '러브레터',
 '탄생',
 '비긴 어게인',
 '영웅',
 '극장판 소드 아트 온라인 -오디널 스케일-',
 '서치',
 '극장판 5등분의 신부',
 '하녀',
 '장화신은 고양이: 끝내주는 모험',
 '엘비스',
 '너의 이름은.',
 '여름날 우리',
 '항거:유관순 이야기',
 '아바타: 물의 길',
 '헤어질 결심',
 '오늘 밤, 세계에서 이 사랑이 사라진다 해도',
 '라라랜드',
 '양자경의 더 모든 날 모든 순간',
 '블루 재스민',
 '졸업',
 '드라이브 마이 카',
 '애프터썬',
 '티파니에서 아침을',
 '이장',
 '상견니',
 '에브리씽 에브리웨어 올 앳 원스',
 '언어의 정원',
 '몽상가들',
 '본즈 앤 올',
 '날씨의 아이',
 '3000년의 기다림',
 '별을 쫓는 아이',
 '바빌론',
 '사랑할 땐 누구나 최악이 된다',
 '천룡팔부: 교봉전',
 '앤트맨과 와스프: 퀀텀매니아',
 '메간',
 '더 배트맨',
 '유령',
 '원피스 필름 레드',
 '놉',
 '블랙 팬서: 와칸다 포에버',
 '교섭']

In [72]:
scoreList = []

for i in movieScore :
    scoreList.append(i.text.strip())
    
scoreList

['9.76',
 '9.46',
 '9.45',
 '9.31',
 '9.21',
 '9.14',
 '9.08',
 '9.04',
 '9.00',
 '8.95',
 '8.93',
 '8.93',
 '8.91',
 '8.86',
 '8.83',
 '8.81',
 '8.77',
 '8.66',
 '8.65',
 '8.64',
 '8.63',
 '8.63',
 '8.60',
 '8.51',
 '8.48',
 '8.42',
 '8.42',
 '8.36',
 '8.33',
 '8.31',
 '8.22',
 '8.18',
 '8.10',
 '8.07',
 '7.97',
 '7.94',
 '7.89',
 '7.84',
 '7.75',
 '7.42',
 '7.38',
 '7.37',
 '7.21',
 '6.86',
 '6.79',
 '6.74',
 '6.06',
 '6.04']

In [73]:
movie_dic = { '영화제목' : titleList , '평점' : scoreList}

movie_df = pd.DataFrame(movie_dic)

movie_df.index = movie_df.index +1
movie_df

                        영화제목    평점
1                    탑건: 매버릭  9.76
2                      다음 소희  9.46
3                 더 퍼스트 슬램덩크  9.45
4                        올빼미  9.31
5                 극장판 주술회전 0  9.21
6                       러브레터  9.14
7                         탄생  9.08
8                     비긴 어게인  9.04
9                         영웅  9.00
10   극장판 소드 아트 온라인 -오디널 스케일-  8.95
11                        서치  8.93
12               극장판 5등분의 신부  8.93
13                        하녀  8.91
14         장화신은 고양이: 끝내주는 모험  8.86
15                       엘비스  8.83
16                   너의 이름은.  8.81
17                    여름날 우리  8.77
18                항거:유관순 이야기  8.66
19                 아바타: 물의 길  8.65
20                    헤어질 결심  8.64
21  오늘 밤, 세계에서 이 사랑이 사라진다 해도  8.63
22                      라라랜드  8.63
23         양자경의 더 모든 날 모든 순간  8.60
24                    블루 재스민  8.51
25                        졸업  8.48
26                 드라이브 마이 카  8.42
27                      애프터썬  8.42
28                 티파니에서 아침을  8.36
29                        이장  8.33
30                       상견니  8.31
31         에브리씽 에브리웨어 올 앳 원스  8.22
32                    언어의 정원  8.18
33                      몽상가들  8.10
34                    본즈 앤 올  8.07
35                    날씨의 아이  7.97
36                3000년의 기다림  7.94
37                  별을 쫓는 아이  7.89
38                       바빌론  7.84
39          사랑할 땐 누구나 최악이 된다  7.75
40                 천룡팔부: 교봉전  7.42
41           앤트맨과 와스프: 퀀텀매니아  7.38
42                        메간  7.37
43                     더 배트맨  7.21
44                        유령  6.86
45                 원피스 필름 레드  6.79
46                         놉  6.74
47            블랙 팬서: 와칸다 포에버  6.06
48                        교섭  6.04

In [74]:
# movie_df.to_excel('movieScore.xlsx')

In [75]:
# 영화데이터를 가져올때 날짜를 바꾸면 url이 변경됨(그것도 확인하고 변화를 알아보는게 좋음)
# 판다스의 날짜 데이터를 만지는게 있다고 . 그거 사용해서 할 예정

### Pandas를 이용해서 날짜 데이터 생성하기

In [76]:
# pd.date_range(시작날짜, 마지막 날짜)
# pd.date_range('2023-01-01','2023-01-31')
# pd.date_range(시작날짜, periods = 생성할 날짜 갯수)
dataList = pd.date_range('2023-01-01',periods = 31)

In [77]:
dataList

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31'],
              dtype='datetime64[ns]', freq='D')

In [78]:
# Timestamp -- > 문자열로 변환 (형식 : 년 월 일)
#  Y --> 2023, y --> 23 / m --> 01  / d --> 01
dataList[0].strftime("%y년%m월%d일")

'23년01월01일'

In [79]:
dateList2 =[]
for date in dataList :
    dateList2.append(date.strftime("%Y%m%d"))    # y랑 Y 주의 필요
dateList2

['20230101',
 '20230102',
 '20230103',
 '20230104',
 '20230105',
 '20230106',
 '20230107',
 '20230108',
 '20230109',
 '20230110',
 '20230111',
 '20230112',
 '20230113',
 '20230114',
 '20230115',
 '20230116',
 '20230117',
 '20230118',
 '20230119',
 '20230120',
 '20230121',
 '20230122',
 '20230123',
 '20230124',
 '20230125',
 '20230126',
 '20230127',
 '20230128',
 '20230129',
 '20230130',
 '20230131']

### 날짜별 영화 평점 데이터 요청하기

In [80]:
# 앞이랑 똑같음
scoreList = []
titleList = []
for date in dateList2 : 
    url = f"https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date={date}"
    res = req.get(url,headers = h)  
    
    # url = "https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur"
    # res = req.get(url,headers = h,params= {"date" : date } )   # 파라미터를 키값date이고 vlaue 값으로 dateList를 받아온 date를 받아올 것이다.
    html = bs(res.text, 'lxml')

    # 각각 변수에 담아주기
    movieTitle = html.select('div.tit5')  
    movieScore = html.select('td.point')

    # 빈리스트에 데이터 저장
    for i in movieScore :
        scoreList.append(i.text.strip())

    for i in movieTitle :
        titleList.append(i.text.strip())

#데이터 프레임으로 출력하기
movie_dic = { '영화제목' : titleList , '평점' : scoreList}

movie_df = pd.DataFrame(movie_dic)

movie_df.index = movie_df.index +1
movie_df

            영화제목    평점
1           씽2게더  9.37
2            올빼미  9.36
3         시네마 천국  9.33
4     극장판 주술회전 0  9.22
5         어바웃 타임  9.18
...          ...   ...
1414          메간  7.40
1415          유령  6.88
1416   원피스 필름 레드  6.82
1417          교섭  6.14
1418        강남좀비  2.83

[1418 rows x 2 columns]