## Question1

문제1. 
1 - a<br>
2 - b<br>
3 - c<br>
4 - h

문제2.
크롤링은 웹에 있는 데이터를 모으는 방법을 말하는 것이다.<br>
웹페이지를 수집해서 분류하고 저장하는 것이다.

문제3.
BeautifulSoup이란<br>
HTML문서에서 원하는 데이터를 추출하기 쉽게 해주는 라이브러리

문제4.
1,2는 특정 요소를 접근하는 함수이다.
1은 한개의 요소만 찾아오는 것이고,
2는 여러개의 요소를 찾아오는 것이다.

문제5.
import BeautifulSoup as bs

html = bs(res.text, 'lxml')
html.select('div > p > a')

## Question2

In [3]:
from selenium import webdriver as wb
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [4]:

naver_url = 'http://www.naver.com'
driver = wb.Chrome()
driver.get(naver_url)

In [5]:
driver.find_element(by ='id' ,value = 'query' ).send_keys('크롤링\n')

## Question3

In [16]:
import pandas as pd  

from selenium import webdriver as wb
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [7]:
market_url = 'https://corners.gmarket.co.kr/bestsellers'
driver = wb.Chrome()
driver.get(market_url)

In [8]:
nameList = driver.find_elements(By.CSS_SELECTOR,'.itemname')
len(nameList)

200

In [9]:
priceList = driver.find_elements(By.CSS_SELECTOR,'.for-a11y+strong > span')
len(priceList)

200

In [19]:
name = []
price = []

# for i in range(len(menuList)) :
#     print(menuList[i].text.strip())

for i in range(0,20) :
    name.append(nameList[i].text)
    price.append(priceList[i].text.replace('원',''))

gmarket_dic = {'상품명' : name,'가격' : price }
gmarket_df = pd.DataFrame(gmarket_dic)

gmarket_df

                                                  상품명      가격
0   [블랙야크키즈](신세계강남점)23년 SS 미리 준비하는 쿨세트 2종 택1 [BKO홀...  28,000
1                            메이크업 화장품 파우치/미니백/이너백/여행용   7,900
2         [네파키즈](신세계강남점)[네파키즈] 델타 7부 폴리트레이닝세트 KID5910  27,600
3                    HACCP인증 국산100% 전라도 파김치 1kg(당일생산)  12,500
4   [네추럴블라썸](쿠폰적용가 25110원~)네추럴블라썸 울트라슬림 비건기저귀 4팩 (...  32,900
5   [버블트리]20% 주니어 여아 봄신상 스쿨룩 상하세트 팬츠 맨투맨 원피스 레깅스 데...  15,000
6                [코디](쿠폰적용가28400) 블루 3겹 데코 27m 30롤 3팩  36,200
7                           제이준 세트 - 진정보습 물광 마스크팩 50매  23,900
8                        제주 천혜향 새콤달콤 4kg 중소과 (가정용 포장)  24,900
9                            해남 못난이 꿀고구마 10kg(2022수확)  10,680
10             하이마블 내맘대로 골라먹는 구이용 프리미엄 소고기 모둠 미국산 소고기  29,900
11                                          농협우리쌀20kg  39,840
12                      [스카이패션][무료배송 3장드림] 순면 베이직 티셔츠   7,950
13             [키즈꼬모]아동상하복세트 2023봄신상품 봄맞이 할인전 아동복 등원복  12,400
14                    [에스티코]STCO 넥타이 9900원 균일가 50종 모음   9,900
15                 김규흔 한과 견과류바 에너지바 영양바 하루한끼 영양바 40개입  28,900
16                         모짜치즈떡 1kg +1kg (쿠폰가 9980원)  11,250
17                                    리치부어스트 1.5kg 1개  21,500
18  [베지톨로지]베지톨로지 비니페린 워터 에센스 150ML x 2개 / 마스크팩 1매 ...  21,000
19                       [구글플레이]기프트코드 10만원 / 구글 기프트카드  95,000

## Question4

In [21]:
import requests as req
import pandas as pd  # csv 저장할때 필요하다고
from bs4 import BeautifulSoup as bs

h = {
"user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36"

}

In [31]:
melon_url = 'https://www.melon.com/chart/index.htm'
res = req.get(melon_url, headers = h)

html = bs(res.text , 'lxml')

musicList = html.select('.ellipsis.rank01 a')
vocalList = html.select('.checkEllipsis')

In [38]:
mu = []
vo = []
index = 1
for i in range(len(musicList)) :
    mu.append(musicList[i].text.strip())
    vo.append(vocalList[i].text.strip())
    index +=1

In [41]:
melon_dic = { '곡명' : mu , '가수' : vo}
data_mu = pd.DataFrame(melon_dic)
data_mu.index = data_mu.index+1
data_mu

                      곡명               가수
1                  Ditto         NewJeans
2                    OMG         NewJeans
3               Hype boy         NewJeans
4    파이팅 해야지 (Feat. 이영지)  부석순 (SEVENTEEN)
5                사건의 지평선      윤하 (YOUNHA)
..                   ...              ...
96                 Ay-Yo          NCT 127
97   Permission to Dance            방탄소년단
98                   HOT              세븐틴
99             걸음을 멈추는 날               나얼
100            네버랜드를 떠나며        투모로우바이투게더

[100 rows x 2 columns]

In [42]:
data_mu.to_excel('melon_top100_test.xlsx')

## Question5

In [123]:
import pandas as pd
import time

from selenium import webdriver as wb
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [161]:
naver_url = 'https://www.youtube.com/'
driver = wb.Chrome()
driver.get(naver_url)

In [163]:
driver.find_element(By.CSS_SELECTOR ,'div>input#search' ).send_keys('애니멀봐\n')

In [166]:
driver.find_element(By.CSS_SELECTOR ,'#main-link' ).click()

In [167]:
driver.find_element(By.CSS_SELECTOR ,'#tabsContent > tp-yt-paper-tab:nth-child(4) > div' ).click()

In [179]:
nameList = driver.find_elements(By.CSS_SELECTOR,'#video-title-link > yt-formatted-string#video-title')
clickList = driver.find_elements(By.CSS_SELECTOR,'#metadata-line > span:nth-child(3)')
nameList[0].text

''

In [170]:
driver.find_element(By.CSS_SELECTOR,'body').send_keys(Keys.END)

In [152]:

question5_title = []
question5_click = []
# nameList = driver.find_elements(By.CSS_SELECTOR,'#video-title > yt-formatted-string')
driver.find_element(By.CSS_SELECTOR,'body').send_keys(Keys.END)


for i in range(0,100) :
    question5_title.append(nameList[i].text)
    question5_click.append(clickList[i].text)

In [153]:
dic = {"제목" :question5_title , "조회수" : question5_click}
question5df= pd.DataFrame(dic)

In [155]:
question5df.to_excel('question5.xlsx')